a {
  color: white;
}

html, body {
  font-family: 'Lato';
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
section {
  flex: 14;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

header, footer {
  text-align: center;
  width: 100%;
  flex: 2;
  z-index: 1;
}

header {
  position: fixed;
  background: transparent;
  z-index: 10;
}

#header {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}

#header .counters {
  padding-top: 50px;
}

header div {
  flex: 1
}

footer {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  position: relative;
}
header h1 {
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
  color: white;
}

.danger {
 color: #E83151;
}

/*CONTROLS*/

.controls {
  box-sizing: border-box;
  padding: 10px 0;
  height: 100%;
  /*height: 100px;*/
  position: absolute;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  display: flex;
}

.color-choice {
  background-color: white;
  flex: 1;
  margin: 0 10px;
  height: 100%;
  border-radius: 15px;

}

.color-choice:hover {
  box-shadow: 1px 1px 2px white, 0 0 50px lightyellow, 0 0 10px yellow;
  -webkit-box-shadow: 1px 1px 2px white, 0 0 50px lightyellow, 0 0 10px yellow;
}

.color-choice-selected {
  box-shadow: 1px 1px 2px black, 0 0 50px lightyellow, 0 0 10px yellow;
  -webkit-box-shadow: 1px 1px 2px white, 0 0 50px lightyellow, 0 0 10px yellow;
}

/*GRID*/
.row {
  display: flex;
}

.cell {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}


.selected {
  box-shadow: 2px 2px 2px yellow;
  z-index: 1;
}

/*///instructions*/

#git-info {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  position: absolute;
  margin: 6px 8px 0 0;
  top: 0;
  right: 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: 12;
}

#info {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  position: absolute;
  margin: 6px 0 0 8px;
  top: 0;
  left: 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: 12;
}

#star {
  color: lightyellow;
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
  z-index: 12;
  display: none;
}

#info:hover {
  cursor:pointer;
}

i:hover {
  font-size: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 225px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -115px;
    font-size: 22px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
  }

  #message {
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 42%;
    transform: translateY(-50%);
    z-index: 1;
  }

#modal-tutorial {
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 20px;
  width: 400px;
  height: 550px;
  background-color: black;
  position: absolute;
  top: 45%;
  margin: 0 auto;
  left: 33%;
  transform: translateY(-50%);
  padding: 30px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
 #tutorial {

   width: 70%;
   left: 12%;
 }
}

.close {
  display: inline;
  text-align: right;
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #E83151;
    text-decoration: none;
    cursor: pointer;
}

#tutorial img {
  width: 100%;
}

#tutorial h3 {
  text-align: center;
}

#tutorial h3 span {
  color: white;
  font-size: 1.2em;
}

/*LOSE MESSAGE*/


#modal-lose {
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  /*display: block;*/
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
}

#lose-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 20px;
  height: 130px;
  background-color: black;
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translateY(-50%);
  padding: 20px 50px;
}
#modal-lose:hover #lose-message{
  color: #E83151;

}

#lose-message h3 {
  font-size: 30px;
}
