<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "6P63EXKTTQ.com.lucasvamaral.colors"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- all platforms -->
    <preference name="phonegap-version" value="cli-6.5.0" />
    <icon src="icon.png" />
    <splash src="splash.png" />

   <!-- ios -->
    <platform name="ios">
      <preference name="DisallowOverscroll" value="true"/>
      <preference name="DisallowUnderscroll" value="true"/>
      <preference name="signing-key" title="Colors"  />
    </platform>

    <!-- iPhone 6 / 6+ -->
<icon src="Icon-App-60x60@3x.png" platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="Icon-App-60x60@1x.png" platform="ios" width="60" height="60" />
<icon src="Icon-App-60x60@2x.png" platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="Icon-App-76x76@1x.png" platform="ios" width="76" height="76" />
<icon src="Icon-App-76x76@2x.png" platform="ios" width="152" height="152" />
<icon src="Icon-App-83.5x83.5@2x.png" platform="ios" width="167" height="167" />

<!-- Settings Icon -->
<icon src="Icon-App-29x29@1x.png" platform="ios" width="29" height="29" />
<icon src="Icon-App-29x29@2x.png" platform="ios" width="58" height="58" />
<icon src="Icon-App-29x29@3x.png" platform="ios" width="87" height="87" />

<!-- Spotlight Icon -->
<icon src="Icon-Small-50x50@1x.png" platform="ios" width="40" height="40" />
<icon src="Icon-Small-50x50@2x" platform="ios" width="80" height="80" />
<!-- versionCode is optional and Android only -->

  <name>Colors</name>

  <description>
      A relaxing puzzle game.
  </description>

  <author href="http://www.lucasvamaral.com/" email="lucas.v.amaral@gmail.com">
      Lucas Amaral
  </author>

  <content src="https://lvamaral.github.io/Colors/"/>
	<preference name="Orientation" value="portrait"/>
	<preference name="Fullscreen" value="true"/>

</widget>
