/* Coolors Exported Palette - coolors.co/4b4237-d5a021-ede7d9-a49694-736b60 */

/* HSL */
$color1: hsla(33%, 15%, 25%, 1);
$color2: hsla(42%, 73%, 48%, 1);
$color3: hsla(42%, 36%, 89%, 1);
$color4: hsla(8%, 8%, 61%, 1);
$color5: hsla(35%, 9%, 41%, 1);

/* RGB */
$color1: rgba(75, 66, 55, 1);
$color2: rgba(213, 160, 33, 1);
$color3: rgba(237, 231, 217, 1);
$color4: rgba(164, 150, 148, 1);
$color5: rgba(115, 107, 96, 1);