/* Coolors Exported Palette - coolors.co/1b264f-274690-576ca8-302b27-f5f3f5 */

/* HSL */
$color1: hsla(227%, 49%, 21%, 1);
$color2: hsla(222%, 57%, 36%, 1);
$color3: hsla(224%, 32%, 50%, 1);
$color4: hsla(27%, 10%, 17%, 1);
$color5: hsla(300%, 9%, 96%, 1);

/* RGB */
$color1: rgba(27, 38, 79, 1);
$color2: rgba(39, 70, 144, 1);
$color3: rgba(87, 108, 168, 1);
$color4: rgba(48, 43, 39, 1);
$color5: rgba(245, 243, 245, 1);