/* Coolors Exported Palette - coolors.co/393d3f-d5bbb1-9cc4b2-c98ca7-e76d83 */

/* HSL */
$color1: hsla(200%, 5%, 24%, 1);
$color2: hsla(17%, 30%, 76%, 1);
$color3: hsla(153%, 25%, 69%, 1);
$color4: hsla(333%, 36%, 67%, 1);
$color5: hsla(349%, 72%, 67%, 1);

/* RGB */
$color1: rgba(57, 61, 63, 1);
$color2: rgba(213, 187, 177, 1);
$color3: rgba(156, 196, 178, 1);
$color4: rgba(201, 140, 167, 1);
$color5: rgba(231, 109, 131, 1);