/* Coolors Exported Palette - coolors.co/023c40-c3979f-0ad3ff-78ffd6-e1faf9 */

/* HSL */
$color1: hsla(184%, 94%, 13%, 1);
$color2: hsla(349%, 27%, 68%, 1);
$color3: hsla(191%, 100%, 52%, 1);
$color4: hsla(162%, 100%, 74%, 1);
$color5: hsla(178%, 71%, 93%, 1);

/* RGB */
$color1: rgba(2, 60, 64, 1);
$color2: rgba(195, 151, 159, 1);
$color3: rgba(10, 211, 255, 1);
$color4: rgba(120, 255, 214, 1);
$color5: rgba(225, 250, 249, 1);