/* Coolors Exported Palette - coolors.co/f7fff6-bcebcb-87d68d-93b48b-8491a3 */

/* HSL */
$color1: hsla(113%, 100%, 98%, 1);
$color2: hsla(139%, 54%, 83%, 1);
$color3: hsla(125%, 49%, 68%, 1);
$color4: hsla(108%, 21%, 63%, 1);
$color5: hsla(215%, 14%, 58%, 1);

/* RGB */
$color1: rgba(247, 255, 246, 1);
$color2: rgba(188, 235, 203, 1);
$color3: rgba(135, 214, 141, 1);
$color4: rgba(147, 180, 139, 1);
$color5: rgba(132, 145, 163, 1);