/* Coolors Exported Palette - coolors.co/a30b37-bd6b73-bbb6df-c6c8ee-fcfcff */

/* HSL */
$color1: hsla(343%, 87%, 34%, 1);
$color2: hsla(354%, 38%, 58%, 1);
$color3: hsla(247%, 39%, 79%, 1);
$color4: hsla(237%, 54%, 85%, 1);
$color5: hsla(240%, 100%, 99%, 1);

/* RGB */
$color1: rgba(163, 11, 55, 1);
$color2: rgba(189, 107, 115, 1);
$color3: rgba(187, 182, 223, 1);
$color4: rgba(198, 200, 238, 1);
$color5: rgba(252, 252, 255, 1);