/* Coolors Exported Palette - coolors.co/3a3335-d81e5b-f0544f-fdf0d5-c6d8d3 */

/* HSL */
$color1: hsla(343%, 6%, 21%, 1);
$color2: hsla(340%, 76%, 48%, 1);
$color3: hsla(2%, 84%, 63%, 1);
$color4: hsla(41%, 91%, 91%, 1);
$color5: hsla(163%, 19%, 81%, 1);

/* RGB */
$color1: rgba(58, 51, 53, 1);
$color2: rgba(216, 30, 91, 1);
$color3: rgba(240, 84, 79, 1);
$color4: rgba(253, 240, 213, 1);
$color5: rgba(198, 216, 211, 1);