/* Coolors Exported Palette - coolors.co/e9d985-b2bd7e-749c75-6a5d7b-5d4a66 */

/* HSL */
$color1: hsla(50%, 69%, 72%, 1);
$color2: hsla(70%, 32%, 62%, 1);
$color3: hsla(122%, 17%, 53%, 1);
$color4: hsla(266%, 14%, 42%, 1);
$color5: hsla(281%, 16%, 35%, 1);

/* RGB */
$color1: rgba(233, 217, 133, 1);
$color2: rgba(178, 189, 126, 1);
$color3: rgba(116, 156, 117, 1);
$color4: rgba(106, 93, 123, 1);
$color5: rgba(93, 74, 102, 1);