/* Coolors Exported Palette - coolors.co/1e1e24-92140c-fff8f0-ffcf99-111d4a */

/* HSL */
$color1: hsla(240%, 9%, 13%, 1);
$color2: hsla(4%, 85%, 31%, 1);
$color3: hsla(32%, 100%, 97%, 1);
$color4: hsla(32%, 100%, 80%, 1);
$color5: hsla(227%, 63%, 18%, 1);

/* RGB */
$color1: rgba(30, 30, 36, 1);
$color2: rgba(146, 20, 12, 1);
$color3: rgba(255, 248, 240, 1);
$color4: rgba(255, 207, 153, 1);
$color5: rgba(17, 29, 74, 1);