/* Coolors Exported Palette - coolors.co/363635-595a4a-b0fe76-81e979-8fbb99 */

/* HSL */
$color1: hsla(60%, 1%, 21%, 1);
$color2: hsla(64%, 10%, 32%, 1);
$color3: hsla(94%, 99%, 73%, 1);
$color4: hsla(116%, 72%, 69%, 1);
$color5: hsla(134%, 24%, 65%, 1);

/* RGB */
$color1: rgba(54, 54, 53, 1);
$color2: rgba(89, 90, 74, 1);
$color3: rgba(176, 254, 118, 1);
$color4: rgba(129, 233, 121, 1);
$color5: rgba(143, 187, 153, 1);