/* Coolors Exported Palette - coolors.co/256eff-46237a-3ddc97-fcfcfc-ff495c */

/* HSL */
$color1: hsla(220%, 100%, 57%, 1);
$color2: hsla(264%, 55%, 31%, 1);
$color3: hsla(154%, 69%, 55%, 1);
$color4: hsla(0%, 0%, 99%, 1);
$color5: hsla(354%, 100%, 64%, 1);

/* RGB */
$color1: rgba(37, 110, 255, 1);
$color2: rgba(70, 35, 122, 1);
$color3: rgba(61, 220, 151, 1);
$color4: rgba(252, 252, 252, 1);
$color5: rgba(255, 73, 92, 1);