/* Coolors Exported Palette - coolors.co/8a716a-c2b8b2-197bbd-125e8a-204b57 */

/* HSL */
$color1: hsla(13%, 13%, 48%, 1);
$color2: hsla(23%, 12%, 73%, 1);
$color3: hsla(204%, 77%, 42%, 1);
$color4: hsla(202%, 77%, 31%, 1);
$color5: hsla(193%, 46%, 23%, 1);

/* RGB */
$color1: rgba(138, 113, 106, 1);
$color2: rgba(194, 184, 178, 1);
$color3: rgba(25, 123, 189, 1);
$color4: rgba(18, 94, 138, 1);
$color5: rgba(32, 75, 87, 1);