/* Coolors Exported Palette - coolors.co/ffff82-f5f7dc-b5d99c-0f0326-e65f5c */

/* HSL */
$color1: hsla(60%, 100%, 75%, 1);
$color2: hsla(64%, 63%, 92%, 1);
$color3: hsla(95%, 45%, 73%, 1);
$color4: hsla(261%, 85%, 8%, 1);
$color5: hsla(1%, 73%, 63%, 1);

/* RGB */
$color1: rgba(255, 255, 130, 1);
$color2: rgba(245, 247, 220, 1);
$color3: rgba(181, 217, 156, 1);
$color4: rgba(15, 3, 38, 1);
$color5: rgba(230, 95, 92, 1);